{%include 'partials/_header.html'%}
<span class="position-absolute trigger"><!-- hidden trigger to apply 'stuck' styles --></span>
{%include 'partials/_menu.html'%}
<!--HAKKIMDA SAYFASININ FOTOGRAFLI KISMI-1-->
<section class="section-1">
    <div class="jumbotron d-flex align-items-center">
        <div class="gradient"></div>
        <div class="container-fluid content">
            <h1 data-aos="fade-right" data-aos-delay="300">ATAKUM BUNGALOV EVLERİ</h1>
            <h2 data-aos="fade-left" data-aos-delay="300">HOŞ GELDİNİZ</h2>
        </div>
        <!--container-fluid end-->
    </div>
</section>