<header class="header bg">
    <div class="container text-white">
        <div class="row">
            <div class="col-sm-4 col-12 px-5 align-self-center box-1 text-center">
                <a class="navbar-brand" href="{% url 'anasayfa'%}"><img src="static/images/logo2.png" alt="logo"></a>
            </div>
            <div class="col-sm-4 align-self-center text-left">
                <p style="color:black; font-size: 23px; font-family: tahoma;"><b>ATAKUM BUNGALOV EVLERİ</b></p>
            </div>
            <div class="col-sm-4 align-self-center text-right">
                <div class="social-icons">
                    <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/atakumbungalovevlerisamsun/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--container-->
</header>